.Shelf {
 width: 85%;
  float: left;
  min-height: 600px;
}

.Product-Image {
}

.button {
background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.Shelf-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Shelf-link {
  color: #61dafb;
}

.openCart {
  position: fixed;
  top: 0;
  right: 0px;
  width: 350px;
  height: 100%;
  background-color: darkolivegreen;
  box-sizing: border-box;
  text-align: center;

  transition: right 0.2s;
  
  &__close-btn {
    width: 50px;
    height: 50px;
    color: #ececec;
    background-color: #1b1a20;
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: -50px;
    cursor: pointer;
    }
}
.closedCart {
  position: fixed;
  top: 0;
  right: -350px;
  width: 350px;
  height: 100%;
  background-color: #1b1a20;
  box-sizing: border-box;
  text-align: center;

  transition: right 0.2s;
}

.shelf-item-1 {
    float: left;
    width: 25%;
    position: relative;
    color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid black;
    outline-style: solid;
    
}
.shelf-item-img{
    position: relative;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
  width: 50%;
}

.bag {
    float:right;
    width: 40px;
    height: 40px;
    position: relative;
   // display: inline-block;
   // vertical-align: middle;
    margin-right: 15px;
    background-image: url('./bag-icon.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    &--float-cart-closed {
      position: absolute;
      background-color: #000;
      background-size: 50%;
      left: -60px;
      width: 60px;
      height: 60px;
      cursor: pointer;

      .bag__quantity {
        bottom: 5px;
        right: 10px;
      }
    }

    &__quantity {
      display: inline-block;
      width: 18px;
      height: 18px;
      color: #0c0b10;
      font-weight: bold;
      font-size: 0.7em;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      background-color: #eabf00;
      position: absolute;
      bottom: -5px;
      right: 0px;
    }
  }
.price {
  color: gold
}

.cart-item {
  width: 50%;
  height: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: whitesmoke;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid black;
  outline-style: solid;
  font-size: 15px;
  &__del {
    width: 16px;
    height: 16px;
    top: 15px;
    right: 5%;
    border-radius: 50%;
    background-size: auto 100%;
    background-image: url('./sprite_delete-icon.png');
    background-repeat: no-repeat;
    z-index: 2;
    cursor: pointer;
    margin-left: 17%;

    &:hover {
      background-position-x: -17px;
    }
  }
  &__img {
      height: 35px;
    position: relative;
      padding: 10px;
    float:left;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
